<section class="w-full h-fit">
    <div class="container mx-auto">
        <div>
            <div>
                <h2>Which Gadget is best for you</h2>
            </div>
            <div>
                <div>{% render 'arrow-down' %}</div>
                <div>{% render 'arrow-down' %}</div>
            </div>
        </div>
        <div>
            <div>
                
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Collection Second",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Collection Second"
        }
    ]
}
{% endschema %}