<section class="w-full h-screen">
    <div class="container mx-auto h-fit">
        {% comment %} Slider 1 {% endcomment %}
        <div style="background-image: url('assets/sliderOne.jpg'); background-position:center; background-size:cover; backgroun-repeat: no-repeat" class="w-full h-full flex flex-col justify-center items-start">
            <h6 class="text-sm font-normal text-white">Top best season sale!</h6>
            <h1 class="font-semibold text-white">New Generation Apple IPhone 7</h1>
            <p class="font-normal text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsum ad quam sint ducimus, porro consequuntur nam, delectus adipisci numquam omnis deleniti animi error similique cumque eaque ullam quidem deserunt.</p>
            <button class="px-4 py-2 bg-white rounded-lg">
                <a class="font-normal" href="#">Shop now</a>
            </button>
        </div>
       {% comment %} Slider 2 {% endcomment %}
        {% comment %} <div>

        </div> {% endcomment %}
    </div>
</section>

{% schema %}
{
    "name": "Image Banner Second",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Image Banner Second"
        }
    ]
}
{% endschema %}