{% comment %} Get the Request Path Link {% endcomment %}
{% assign fullPageUrl = request.path %}
{% comment %} Split fullPageUrl into an array {% endcomment %}
{% assign splitFullPageUrl = fullPageUrl |  split: '/' %}
{% comment %} Assign to array {% endcomment %}
{% assign urlText = splitFullPageUrl.last %}

<section class="w-full bg-gray-100 flex justify-center items-center gap-2 my-5 py-10">
  <p class="text-sm font-normal text-gray-900 hover:underline hover:text-red-700">
    <a href="{{ shop.url }}">Home</a>
  </p>
  <p>/</p>
  <p class="text-sm font-semibold text-gray-900">
    {{ urlText |  capitalize }}
  </p>    
</section>
<section class="container mx-auto rounded-2xl py-5 my-10 bg-gray-100 flex justify-center">
  <p class="text-2xl font-semibold md:text-4xl">
    {{ urlText |  capitalize }}
  </p>
</section>
{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
