<section class="w-full h-60 relative bg-gray-100 block">
    <div class="container h-56 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center">
        <div class="w-full overflow-x-auto whitespace-nowrap xl:overflow-x-visible xl:whitespace-normal xl:flex xl:justify-between">
            <div class="w-full max-w-[290px] text-wrap md:w-[350px] h-fit inline-block">
                <img class="w-[50px] h-[50px] object-cover object-center mb-2" src="{{ 'services.png' |  asset_img_url }}" alt="free-shipping-returns">
                <h3 class="text-base font-semibold text-gray-900 mb-2">Free Shipping & Returns</h3>
                <p class="text-sm font-normal text-gray-700">
                    Shop with confidence and have your favorite electronics delivered right to your doorstep without any additional cost.
                </p>
            </div>
            <div class="w-full max-w-[290px] text-wrap md:w-[350px] h-fit inline-block">
                <img class="w-[50px] h-[50px] object-cover object-center mb-2" src="{{ 'services.png' |  asset_img_url }}" alt="free-shipping-returns">
                <h3 class="text-base font-semibold text-gray-900 mb-2">Free Shipping & Returns</h3>
                <p class="text-sm font-normal text-gray-700">
                    Shop with confidence and have your favorite electronics delivered right to your doorstep without any additional cost.
                </p>
            </div>
            <div class="w-full max-w-[290px] text-wrap md:w-[350px] h-fit inline-block">
                <img class="w-[50px] h-[50px] object-cover object-center mb-2" src="{{ 'services.png' |  asset_img_url }}" alt="free-shipping-returns">
                <h3 class="text-base font-semibold text-gray-900 mb-2">Free Shipping & Returns</h3>
                <p class="text-sm font-normal text-gray-700">
                    Shop with confidence and have your favorite electronics delivered right to your doorstep without any additional cost.
                </p>
            </div>
            <div class="w-full max-w-[290px] text-wrap md:w-[350px] h-fit inline-block">
                <img class="w-[50px] h-[50px] object-cover object-center mb-2" src="{{ 'services.png' |  asset_img_url }}" alt="free-shipping-returns">
                <h3 class="text-base font-semibold text-gray-900 mb-2">Free Shipping & Returns</h3>
                <p class="text-sm font-normal text-gray-700">
                    Shop with confidence and have your favorite electronics delivered right to your doorstep without any additional cost.
                </p>
            </div>            
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Store Trust",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Store Trust"
        }
    ]
}
{% endschema %}